<a href="https://colab.research.google.com/github/bsbrabrand/SmartProducts/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.9.3. Exercise**
When you learn about a new feature, you should try it out and make mistakes on purpose. That way, you learn the error messages, and when you see them again, you will know what they mean. It is better to make mistakes now and deliberately than later and accidentally.

You can use a minus sign to make a negative number like -2. What happens if you put a plus sign before a number? What about 2++2?

What happens if you have two values with no operator between them, like 4 2?

If you call a function like round(42.5), what happens if you leave out one or both parentheses?

In [3]:
+2

2

In [2]:
2++2

4

Using a "+" before a number returns the postive value of that number. For example, "+2" returns 2.
Executing "2++2" therefore results in 4 as the second plus sign is redundant.

In [4]:
4 2

SyntaxError: invalid syntax (<ipython-input-4-7b559316adbe>, line 1)

With no operator in between numbers, a syntax error is returned. The 2 is just floating in this case with nothing being applied to it.

In [5]:
round(42.5

SyntaxError: incomplete input (<ipython-input-5-874acea29d22>, line 1)

Leaving off the parenthesis for a function returns a syntax error as well. A function needs both sets of parenthesis to be valid.

# 1.9.4 Exercise

Recall that every expression has a value, every value has a type, and we can use the type function to find the type of any value.

What is the type of the value of the following expressions? Make your best guess for each one, and then use type to find out.

765

2.718

'2 pi'

abs(-7)

abs(-7.0)

abs

int

type

Guesses:  
765 int  
2.718 float  
'2 pi' string  
abs(-7) int  
abs(-7.0) float  
abs float  
int int  
type string

In [7]:
print(type(765))
print(type(2.718))
print(type('2 pi'))
print(type(abs(-7)))
print(type(abs(-7.0)))
print(type(abs))
print(type(int))
print(type(type))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'builtin_function_or_method'>
<class 'type'>
<class 'type'>

The first 5 examples were the same type that I expected.  
The type of abs is actually a builtin_function_or_method which I didn't realize was an option. It makes sense that this is the case as abs is a builtin function that returns the positive value of a number.
  The last two are both type 'type' as they are found in the type class.

# 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions.

How many seconds are there in 42 minutes 42 seconds?

How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.

If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?

What is your average pace in minutes and seconds per mile?

What is your average speed in miles per hour?

If you already know about variables, you can use them for this exercise. If you don’t, you can do the exercise without them – and then we’ll see them in the next chapter.

In [ ]:
#Seconds in 42 minutes 42 seconds
42*60+42

Since there are 60 seconds in a minute this finds the number of seconds in 42 minutes and then adds the 42 seconds to that value

In [8]:
#miles in 10 km
10/1.61

6.211180124223602

Since 1 mile is 1.61 km, dividing the number of km by 1.61 results in the number of miles

In [9]:
(42*60+42)/(10/1.61)

412.482

This result is caluculated by dividing the number of seconds (calculated in part 1) by the number of miles (calculated in part 2).

In [16]:
tot=(42*60+42)/(10/1.61)
min=int(tot//60)
sec=int((tot/60-min)*60)
print(str(min)+":"+str(sec))

6:52

The time in seconds for mile is calcualted the same as above and stored as tot.  This value is then integer divided by 60 to get the number of complete minutes and stored as an int. The seconds are calculated by subtracting the complete minutes from the previous value to get the number of additional seconds as a decimal amount of minutes. This value is multiplied by 60 to get to seconds. The two values are then concatenated with a colon to produce the minutes and seconds per mile.

In [20]:
hrs=tot/60/60
print(hrs**-1)

8.727653570337614

The seconds per mile value that was calculated above is converted to hrs per mile by dividing by 60 twice.