<a href="https://colab.research.google.com/github/bsbrabrand/SmartProducts/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.9.3. Exercise**
When you learn about a new feature, you should try it out and make mistakes on purpose. That way, you learn the error messages, and when you see them again, you will know what they mean. It is better to make mistakes now and deliberately than later and accidentally.

You can use a minus sign to make a negative number like -2. What happens if you put a plus sign before a number? What about 2++2?

What happens if you have two values with no operator between them, like 4 2?

If you call a function like round(42.5), what happens if you leave out one or both parentheses?

In [ ]:
+2

2

In [ ]:
2++2

4

Using a "+" before a number returns the postive value of that number. For example, "+2" returns 2.
Executing "2++2" therefore results in 4 as the second plus sign is redundant.

In [ ]:
4 2

SyntaxError: invalid syntax (<ipython-input-4-7b559316adbe>, line 1)

With no operator in between numbers, a syntax error is returned. The 2 is just floating in this case with nothing being applied to it.

In [ ]:
round(42.5

SyntaxError: incomplete input (<ipython-input-5-874acea29d22>, line 1)

Leaving off the parenthesis for a function returns a syntax error as well. A function needs both sets of parenthesis to be valid.

# 1.9.4 Exercise

Recall that every expression has a value, every value has a type, and we can use the type function to find the type of any value.

What is the type of the value of the following expressions? Make your best guess for each one, and then use type to find out.

765

2.718

'2 pi'

abs(-7)

abs(-7.0)

abs

int

type

Guesses:  
765 int  
2.718 float  
'2 pi' string  
abs(-7) int  
abs(-7.0) float  
abs float  
int int  
type string

In [ ]:
print(type(765))
print(type(2.718))
print(type('2 pi'))
print(type(abs(-7)))
print(type(abs(-7.0)))
print(type(abs))
print(type(int))
print(type(type))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'builtin_function_or_method'>
<class 'type'>
<class 'type'>

The first 5 examples were the same type that I expected.  
The type of abs is actually a builtin_function_or_method which I didn't realize was an option. It makes sense that this is the case as abs is a builtin function that returns the positive value of a number.
  The last two are both type 'type' as they are found in the type class.

# 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions.

How many seconds are there in 42 minutes 42 seconds?

How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.

If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?

What is your average pace in minutes and seconds per mile?

What is your average speed in miles per hour?

If you already know about variables, you can use them for this exercise. If you don’t, you can do the exercise without them – and then we’ll see them in the next chapter.

In [ ]:
#Seconds in 42 minutes 42 seconds
42*60+42

Since there are 60 seconds in a minute this finds the number of seconds in 42 minutes and then adds the 42 seconds to that value

In [ ]:
#miles in 10 km
10/1.61

6.211180124223602

Since 1 mile is 1.61 km, dividing the number of km by 1.61 results in the number of miles

In [ ]:
(42*60+42)/(10/1.61)

412.482

This result is caluculated by dividing the number of seconds (calculated in part 1) by the number of miles (calculated in part 2).

In [ ]:
tot=(42*60+42)/(10/1.61)
min=int(tot//60)
sec=int((tot/60-min)*60)
print(str(min)+":"+str(sec))

6:52

The time in seconds for mile is calcualted the same as above and stored as tot.  This value is then integer divided by 60 to get the number of complete minutes and stored as an int. The seconds are calculated by subtracting the complete minutes from the previous value to get the number of additional seconds as a decimal amount of minutes. This value is multiplied by 60 to get to seconds. The two values are then concatenated with a colon to produce the minutes and seconds per mile.

In [ ]:
hrs=tot/60/60
print(hrs**-1)

8.727653570337614

The seconds per mile value that was calculated above is converted to hrs per mile by dividing by 60 twice.

# 2.11 Exercises

In [ ]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

Exception reporting mode: Verbose

### Exercise

Repeating my advice from the previous chapter, whenever you learn a new feature, you should make errors on purpose to see what goes wrong.

-   We've seen that `n = 17` is legal. What about `17 = n`?

-   How about `x = y = 1`?

-   In some languages every statement ends with a semi-colon (`;`). What
    happens if you put a semi-colon at the end of a Python statement?

-   What if you put a period at the end of a statement?

-   What happens if you spell the name of a module wrong and try to import `maath`?

In [ ]:
17 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-2-beb598da8e38>, line 1)

This statement results in an error since 17 is a numerical value. Python does not let something be assigned to a numerical value as it is not a variable.

In [ ]:
x=y=1
print(x)
print(y)

1
1

Python interprets this statement as assigning the value 1 to y and then assigning it to x as well.

In [ ]:
print("test");
x=3;

test

These statements still run as expected with a semicolon at the end

In [ ]:
print('test').

SyntaxError: invalid syntax (<ipython-input-7-061a2f104de4>, line 1)

When a period is added at the end, a syntax error occurs. Python is looking for a method name to follow the period and throws an error as none is given.

In [ ]:
import maath

ModuleNotFoundError: No module named 'maath'

A ModuleNotFoundError is thrown when the odule name is spelled wrong as python cannot find a module matching that name.

### Exercise
Practice using the Python interpreter as a calculator:

**Part 1.**  The volume of a sphere with radius $r$ is $\frac{4}{3} \pi r^3$.
What is the volume of a sphere with radius 5? Start with a variable named `radius` and then assign the result to a variable named `volume`. Display the result. Add comments to indicate that `radius` is in centimeters and `volume` in cubic centimeters.

In [ ]:
# Solution goes here
import math
radius = 5 #cm
volume = (4/3)*math.pi*radius**3 #cm^3
print(volume)

523.5987755982989

The variable radius is assigned a value of 5. This value is then raised to the third power and multiplied by 4/3 and pi. The math module is imported so that pi has a value of 3.14....

**Part 2.** A rule of trigonometry says that for any value of $x$, $(\cos x)^2 + (\sin x)^2 = 1$. Let's see if it's true for a specific value of $x$ like 42.

Create a variable named `x` with this value.
Then use `math.cos` and `math.sin` to compute the sine and cosine of $x$, and the sum of their squared.

The result should be close to 1. It might not be exactly 1 because floating-point arithmetic is not exact---it is only approximately correct.

In [ ]:
# Solution goes here
x=42
print((math.cos(x))**2+(math.sin(x))**2)

1.0

**Part 3.** In addition to `pi`, the other variable defined in the `math` module is `e`, which represents the base of the natural logarithm, written in math notation as $e$. If you are not familiar with this value, ask a virtual assistant "What is `math.e`?" Now let's compute $e^2$ three ways:

* Use `math.e` and the exponentiation operator (`**`).

* Use `math.pow` to raise `math.e` to the power `2`.

* Use `math.exp`, which takes as an argument a value, $x$, and computes $e^x$.

You might notice that the last result is slightly different from the other two.
See if you can find out which is correct.

In [ ]:
# Solution goes here
print(math.e**2)

7.3890560989306495

In [ ]:
# Solution goes here
print(math.pow(math.e,2))

7.3890560989306495

In [ ]:
# Solution goes here
print(math.exp(2))

7.38905609893065

The third way appears to have rounded the value slightly more than the other two ways. This is likely due to the underlying math operations of the exp function.

# 3.11.3 Exercise

Write a function called `triangle` that takes a string and an integer and draws a pyramid with the given height, made up using copies of the string. Here's an example of a pyramid with `5` levels, using the string `'L'`.

In [ ]:
# Solution goes here
def triangle(word,height):
  for num in range(height+1):
    print(word*num)

In [ ]:
triangle('L', 5)

L
LL
LLL
LLLL
LLLLL

This function takes the word to be repeated and the height as inputs. A for loop is then created which prints the word the number of times equal to the current index. After each print statement a new line is added automatically which creates the triangle shape.

# 3.11.5 Exercise

The song "99 Bottles of Beer" starts with this verse:

> 99 bottles of beer on the wall  
> 99 bottles of beer  
> Take one down, pass it around  
> 98 bottles of beer on the wall  

Then the second verse is the same, except that it starts with 98 bottles and ends with 97. The song continues -- for a very long time -- until there are 0 bottles of beer.

Write a function called `bottle_verse` that takes a number as a parameter and displays the verse that starts with the given number of bottles.

Hint: Consider starting with a function that can print the first, second, or last line of the verse, and then use it to write `bottle_verse`.

In [ ]:
# Solution goes here
def bottle_verse(num):
  print(str(num)+" bottles of beer on the wall")
  print(str(num)+" bottles of beer")
  print("Take one down, pass it around")
  print(str(num-1)+" bottles of beer on the wall")

The number of bottles is used as in input for the function. for each line, the input number is converted to a string and then concatenated with the corresponding text. For the last line, the number is subtracted by one before it is converted to a string to display the correct output.

Use this function call to display the first verse.

In [ ]:
bottle_verse(99)

99 bottles of beer on the wall
99 bottles of beer
Take one down, pass it around
98 bottles of beer on the wall

If you want to print the whole song, you can use this `for` loop, which counts down from `99` to `1`.
You don't have to completely understand this example---we'll learn more about `for` loops and the `range` function later.

In [ ]:
for n in range(99, 0, -1):
    bottle_verse(n)
    print()

99 bottles of beer on the wall
99 bottles of beer
Take one down, pass it around
98 bottles of beer on the wall

98 bottles of beer on the wall
98 bottles of beer
Take one down, pass it around
97 bottles of beer on the wall

97 bottles of beer on the wall
97 bottles of beer
Take one down, pass it around
96 bottles of beer on the wall

96 bottles of beer on the wall
96 bottles of beer
Take one down, pass it around
95 bottles of beer on the wall

95 bottles of beer on the wall
95 bottles of beer
Take one down, pass it around
94 bottles of beer on the wall

94 bottles of beer on the wall
94 bottles of beer
Take one down, pass it around
93 bottles of beer on the wall

93 bottles of beer on the wall
93 bottles of beer
Take one down, pass it around
92 bottles of beer on the wall

92 bottles of beer on the wall
92 bottles of beer
Take one down, pass it around
91 bottles of beer on the wall

91 bottles of beer on the wall
91 bottles of beer
Take one down, pass it around
90 bottles of beer on the wall

90 bottles of beer on the wall
90 bottles of beer
Take one down, pass it around
89 bottles of beer on the wall

89 bottles of beer on the wall
89 bottles of beer
Take one down, pass it around
88 bottles of beer on the wall

88 bottles of beer on the wall
88 bottles of beer
Take one down, pass it around
87 bottles of beer on the wall

87 bottles of beer on the wall
87 bottles of beer
Take one down, pass it around
86 bottles of beer on the wall

86 bottles of beer on the wall
86 bottles of beer
Take one down, pass it around
85 bottles of beer on the wall

85 bottles of beer on the wall
85 bottles of beer
Take one down, pass it around
84 bottles of beer on the wall

84 bottles of beer on the wall
84 bottles of beer
Take one down, pass it around
83 bottles of beer on the wall

83 bottles of beer on the wall
83 bottles of beer
Take one down, pass it around
82 bottles of beer on the wall

82 bottles of beer on the wall
82 bottles of beer
Take one down, pass it around
81 bottles of beer on the wall

81 bottles of beer on the wall
81 bottles of beer
Take one down, pass it around
80 bottles of beer on the wall

80 bottles of beer on the wall
80 bottles of beer
Take one down, pass it around
79 bottles of beer on the wall

79 bottles of beer on the wall
79 bottles of beer
Take one down, pass it around
78 bottles of beer on the wall

78 bottles of beer on the wall
78 bottles of beer
Take one down, pass it around
77 bottles of beer on the wall

77 bottles of beer on the wall
77 bottles of beer
Take one down, pass it around
76 bottles of beer on the wall

76 bottles of beer on the wall
76 bottles of beer
Take one down, pass it around
75 bottles of beer on the wall

75 bottles of beer on the wall
75 bottles of beer
Take one down, pass it around
74 bottles of beer on the wall

74 bottles of beer on the wall
74 bottles of beer
Take one down, pass it around
73 bottles of beer on the wall

73 bottles of beer on the wall
73 bottles of beer
Take one down, pass it around
72 bottles of beer on the wall

72 bottles of beer on the wall
72 bottles of beer
Take one down, pass it around
71 bottles of beer on the wall

71 bottles of beer on the wall
71 bottles of beer
Take one down, pass it around
70 bottles of beer on the wall

70 bottles of beer on the wall
70 bottles of beer
Take one down, pass it around
69 bottles of beer on the wall

69 bottles of beer on the wall
69 bottles of beer
Take one down, pass it around
68 bottles of beer on the wall

68 bottles of beer on the wall
68 bottles of beer
Take one down, pass it around
67 bottles of beer on the wall

67 bottles of beer on the wall
67 bottles of beer
Take one down, pass it around
66 bottles of beer on the wall

66 bottles of beer on the wall
66 bottles of beer
Take one down, pass it around
65 bottles of beer on the wall

65 bottles of beer on the wall
65 bottles of beer
Take one down, pass it around
64 bottles of beer on the wall

64 bottles of beer on the wall
64 bottles of beer
Take one down, pass it around
63 bottles of beer on the wall

63 bottles of beer on the wall
63 bottles of beer
Take one down, pass it around
62 bottles of beer on the wall

62 bottles of beer on the wall
62 bottles of beer
Take one down, pass it around
61 bottles of beer on the wall

61 bottles of beer on the wall
61 bottles of beer
Take one down, pass it around
60 bottles of beer on the wall

60 bottles of beer on the wall
60 bottles of beer
Take one down, pass it around
59 bottles of beer on the wall

59 bottles of beer on the wall
59 bottles of beer
Take one down, pass it around
58 bottles of beer on the wall

58 bottles of beer on the wall
58 bottles of beer
Take one down, pass it around
57 bottles of beer on the wall

57 bottles of beer on the wall
57 bottles of beer
Take one down, pass it around
56 bottles of beer on the wall

56 bottles of beer on the wall
56 bottles of beer
Take one down, pass it around
55 bottles of beer on the wall

55 bottles of beer on the wall
55 bottles of beer
Take one down, pass it around
54 bottles of beer on the wall

54 bottles of beer on the wall
54 bottles of beer
Take one down, pass it around
53 bottles of beer on the wall

53 bottles of beer on the wall
53 bottles of beer
Take one down, pass it around
52 bottles of beer on the wall

52 bottles of beer on the wall
52 bottles of beer
Take one down, pass it around
51 bottles of beer on the wall

51 bottles of beer on the wall
51 bottles of beer
Take one down, pass it around
50 bottles of beer on the wall

50 bottles of beer on the wall
50 bottles of beer
Take one down, pass it around
49 bottles of beer on the wall

49 bottles of beer on the wall
49 bottles of beer
Take one down, pass it around
48 bottles of beer on the wall

48 bottles of beer on the wall
48 bottles of beer
Take one down, pass it around
47 bottles of beer on the wall

47 bottles of beer on the wall
47 bottles of beer
Take one down, pass it around
46 bottles of beer on the wall

46 bottles of beer on the wall
46 bottles of beer
Take one down, pass it around
45 bottles of beer on the wall

45 bottles of beer on the wall
45 bottles of beer
Take one down, pass it around
44 bottles of beer on the wall

44 bottles of beer on the wall
44 bottles of beer
Take one down, pass it around
43 bottles of beer on the wall

43 bottles of beer on the wall
43 bottles of beer
Take one down, pass it around
42 bottles of beer on the wall

42 bottles of beer on the wall
42 bottles of beer
Take one down, pass it around
41 bottles of beer on the wall

41 bottles of beer on the wall
41 bottles of beer
Take one down, pass it around
40 bottles of beer on the wall

40 bottles of beer on the wall
40 bottles of beer
Take one down, pass it around
39 bottles of beer on the wall

39 bottles of beer on the wall
39 bottles of beer
Take one down, pass it around
38 bottles of beer on the wall

38 bottles of beer on the wall
38 bottles of beer
Take one down, pass it around
37 bottles of beer on the wall

37 bottles of beer on the wall
37 bottles of beer
Take one down, pass it around
36 bottles of beer on the wall

36 bottles of beer on the wall
36 bottles of beer
Take one down, pass it around
35 bottles of beer on the wall

35 bottles of beer on the wall
35 bottles of beer
Take one down, pass it around
34 bottles of beer on the wall

34 bottles of beer on the wall
34 bottles of beer
Take one down, pass it around
33 bottles of beer on the wall

33 bottles of beer on the wall
33 bottles of beer
Take one down, pass it around
32 bottles of beer on the wall

32 bottles of beer on the wall
32 bottles of beer
Take one down, pass it around
31 bottles of beer on the wall

31 bottles of beer on the wall
31 bottles of beer
Take one down, pass it around
30 bottles of beer on the wall

30 bottles of beer on the wall
30 bottles of beer
Take one down, pass it around
29 bottles of beer on the wall

29 bottles of beer on the wall
29 bottles of beer
Take one down, pass it around
28 bottles of beer on the wall

28 bottles of beer on the wall
28 bottles of beer
Take one down, pass it around
27 bottles of beer on the wall

27 bottles of beer on the wall
27 bottles of beer
Take one down, pass it around
26 bottles of beer on the wall

26 bottles of beer on the wall
26 bottles of beer
Take one down, pass it around
25 bottles of beer on the wall

25 bottles of beer on the wall
25 bottles of beer
Take one down, pass it around
24 bottles of beer on the wall

24 bottles of beer on the wall
24 bottles of beer
Take one down, pass it around
23 bottles of beer on the wall

23 bottles of beer on the wall
23 bottles of beer
Take one down, pass it around
22 bottles of beer on the wall

22 bottles of beer on the wall
22 bottles of beer
Take one down, pass it around
21 bottles of beer on the wall

21 bottles of beer on the wall
21 bottles of beer
Take one down, pass it around
20 bottles of beer on the wall

20 bottles of beer on the wall
20 bottles of beer
Take one down, pass it around
19 bottles of beer on the wall

19 bottles of beer on the wall
19 bottles of beer
Take one down, pass it around
18 bottles of beer on the wall

18 bottles of beer on the wall
18 bottles of beer
Take one down, pass it around
17 bottles of beer on the wall

17 bottles of beer on the wall
17 bottles of beer
Take one down, pass it around
16 bottles of beer on the wall

16 bottles of beer on the wall
16 bottles of beer
Take one down, pass it around
15 bottles of beer on the wall

15 bottles of beer on the wall
15 bottles of beer
Take one down, pass it around
14 bottles of beer on the wall

14 bottles of beer on the wall
14 bottles of beer
Take one down, pass it around
13 bottles of beer on the wall

13 bottles of beer on the wall
13 bottles of beer
Take one down, pass it around
12 bottles of beer on the wall

12 bottles of beer on the wall
12 bottles of beer
Take one down, pass it around
11 bottles of beer on the wall

11 bottles of beer on the wall
11 bottles of beer
Take one down, pass it around
10 bottles of beer on the wall

10 bottles of beer on the wall
10 bottles of beer
Take one down, pass it around
9 bottles of beer on the wall

9 bottles of beer on the wall
9 bottles of beer
Take one down, pass it around
8 bottles of beer on the wall

8 bottles of beer on the wall
8 bottles of beer
Take one down, pass it around
7 bottles of beer on the wall

7 bottles of beer on the wall
7 bottles of beer
Take one down, pass it around
6 bottles of beer on the wall

6 bottles of beer on the wall
6 bottles of beer
Take one down, pass it around
5 bottles of beer on the wall

5 bottles of beer on the wall
5 bottles of beer
Take one down, pass it around
4 bottles of beer on the wall

4 bottles of beer on the wall
4 bottles of beer
Take one down, pass it around
3 bottles of beer on the wall

3 bottles of beer on the wall
3 bottles of beer
Take one down, pass it around
2 bottles of beer on the wall

2 bottles of beer on the wall
2 bottles of beer
Take one down, pass it around
1 bottles of beer on the wall

1 bottles of beer on the wall
1 bottles of beer
Take one down, pass it around
0 bottles of beer on the wall