<a href="https://colab.research.google.com/github/bsbrabrand/SmartProducts/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.9.3. Exercise**
When you learn about a new feature, you should try it out and make mistakes on purpose. That way, you learn the error messages, and when you see them again, you will know what they mean. It is better to make mistakes now and deliberately than later and accidentally.

You can use a minus sign to make a negative number like -2. What happens if you put a plus sign before a number? What about 2++2?

What happens if you have two values with no operator between them, like 4 2?

If you call a function like round(42.5), what happens if you leave out one or both parentheses?

In [ ]:
+2

2

In [ ]:
2++2

4

Using a "+" before a number returns the postive value of that number. For example, "+2" returns 2.
Executing "2++2" therefore results in 4 as the second plus sign is redundant.

In [ ]:
4 2

SyntaxError: invalid syntax (<ipython-input-4-7b559316adbe>, line 1)

With no operator in between numbers, a syntax error is returned. The 2 is just floating in this case with nothing being applied to it.

In [ ]:
round(42.5

SyntaxError: incomplete input (<ipython-input-5-874acea29d22>, line 1)

Leaving off the parenthesis for a function returns a syntax error as well. A function needs both sets of parenthesis to be valid.

# 1.9.4 Exercise

Recall that every expression has a value, every value has a type, and we can use the type function to find the type of any value.

What is the type of the value of the following expressions? Make your best guess for each one, and then use type to find out.

765

2.718

'2 pi'

abs(-7)

abs(-7.0)

abs

int

type

Guesses:  
765 int  
2.718 float  
'2 pi' string  
abs(-7) int  
abs(-7.0) float  
abs float  
int int  
type string

In [ ]:
print(type(765))
print(type(2.718))
print(type('2 pi'))
print(type(abs(-7)))
print(type(abs(-7.0)))
print(type(abs))
print(type(int))
print(type(type))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'builtin_function_or_method'>
<class 'type'>
<class 'type'>

The first 5 examples were the same type that I expected.  
The type of abs is actually a builtin_function_or_method which I didn't realize was an option. It makes sense that this is the case as abs is a builtin function that returns the positive value of a number.
  The last two are both type 'type' as they are found in the type class.

# 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions.

How many seconds are there in 42 minutes 42 seconds?

How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.

If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?

What is your average pace in minutes and seconds per mile?

What is your average speed in miles per hour?

If you already know about variables, you can use them for this exercise. If you don’t, you can do the exercise without them – and then we’ll see them in the next chapter.

In [ ]:
#Seconds in 42 minutes 42 seconds
42*60+42

Since there are 60 seconds in a minute this finds the number of seconds in 42 minutes and then adds the 42 seconds to that value

In [ ]:
#miles in 10 km
10/1.61

6.211180124223602

Since 1 mile is 1.61 km, dividing the number of km by 1.61 results in the number of miles

In [ ]:
(42*60+42)/(10/1.61)

412.482

This result is caluculated by dividing the number of seconds (calculated in part 1) by the number of miles (calculated in part 2).

In [ ]:
tot=(42*60+42)/(10/1.61)
min=int(tot//60)
sec=int((tot/60-min)*60)
print(str(min)+":"+str(sec))

6:52

The time in seconds for mile is calcualted the same as above and stored as tot.  This value is then integer divided by 60 to get the number of complete minutes and stored as an int. The seconds are calculated by subtracting the complete minutes from the previous value to get the number of additional seconds as a decimal amount of minutes. This value is multiplied by 60 to get to seconds. The two values are then concatenated with a colon to produce the minutes and seconds per mile.

In [ ]:
hrs=tot/60/60
print(hrs**-1)

8.727653570337614

The seconds per mile value that was calculated above is converted to hrs per mile by dividing by 60 twice.

# 2.11 Exercises

In [1]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

Exception reporting mode: Verbose

### Ask a virtual assistant

Again, I encourage you to use a virtual assistant to learn more about any of the topics in this chapter.

If you are curious about any of keywords I listed, you could ask "Why is class a keyword?" or "Why can't variable names be keywords?"

You might have noticed that `int`, `float`, and `str` are not Python keywords.
They are variables that represent types, and they can be used as functions.
So it is *legal* to have a variable or function with one of those names, but it is strongly discouraged. Ask an assistant "Why is it bad to use int, float, and str as variable names?"

Also ask, "What are the built-in functions in Python?"
If you are curious about any of them, ask for more information.

In this chapter we imported the `math` module and used some of the variable and functions it provides. Ask an assistant, "What variables and functions are in the math module?" and "Other than math, what modules are considered core Python?"

### Exercise

Repeating my advice from the previous chapter, whenever you learn a new feature, you should make errors on purpose to see what goes wrong.

-   We've seen that `n = 17` is legal. What about `17 = n`?

-   How about `x = y = 1`?

-   In some languages every statement ends with a semi-colon (`;`). What
    happens if you put a semi-colon at the end of a Python statement?

-   What if you put a period at the end of a statement?

-   What happens if you spell the name of a module wrong and try to import `maath`?

In [2]:
17 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-2-beb598da8e38>, line 1)

This statement results in an error since 17 is a numerical value. Python does not let something be assigned to a numerical value as it is not a variable.

In [4]:
x=y=1
print(x)
print(y)

1
1

Python interprets this statement as assigning the value 1 to y and then assigning it to x as well.

In [6]:
print("test");
x=3;

test

These statements still run as expected with a semicolon at the end

In [7]:
print('test').

SyntaxError: invalid syntax (<ipython-input-7-061a2f104de4>, line 1)

When a period is added at the end, a syntax error occurs. Python is looking for a method name to follow the period and throws an error as none is given.

In [8]:
import maath

ModuleNotFoundError: No module named 'maath'

A ModuleNotFoundError is thrown when the odule name is spelled wrong as python cannot find a module matching that name.

### Exercise
Practice using the Python interpreter as a calculator:

**Part 1.**  The volume of a sphere with radius $r$ is $\frac{4}{3} \pi r^3$.
What is the volume of a sphere with radius 5? Start with a variable named `radius` and then assign the result to a variable named `volume`. Display the result. Add comments to indicate that `radius` is in centimeters and `volume` in cubic centimeters.

In [10]:
# Solution goes here
import math
radius = 5 #cm
volume = (4/3)*math.pi*radius**3 #cm^3
print(volume)

523.5987755982989

The variable radius is assigned a value of 5. This value is then raised to the third power and multiplied by 4/3 and pi. The math module is imported so that pi has a value of 3.14....

**Part 2.** A rule of trigonometry says that for any value of $x$, $(\cos x)^2 + (\sin x)^2 = 1$. Let's see if it's true for a specific value of $x$ like 42.

Create a variable named `x` with this value.
Then use `math.cos` and `math.sin` to compute the sine and cosine of $x$, and the sum of their squared.

The result should be close to 1. It might not be exactly 1 because floating-point arithmetic is not exact---it is only approximately correct.

In [ ]:
# Solution goes here

**Part 3.** In addition to `pi`, the other variable defined in the `math` module is `e`, which represents the base of the natural logarithm, written in math notation as $e$. If you are not familiar with this value, ask a virtual assistant "What is `math.e`?" Now let's compute $e^2$ three ways:

* Use `math.e` and the exponentiation operator (`**`).

* Use `math.pow` to raise `math.e` to the power `2`.

* Use `math.exp`, which takes as an argument a value, $x$, and computes $e^x$.

You might notice that the last result is slightly different from the other two.
See if you can find out which is correct.

In [ ]:
# Solution goes here

In [ ]:
# Solution goes here

In [ ]:
# Solution goes here

[Think Python: 3rd Edition](https://allendowney.github.io/ThinkPython/index.html)

Copyright 2024 [Allen B. Downey](https://allendowney.com)

Code license: [MIT License](https://mit-license.org/)

Text license: [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International](https://creativecommons.org/licenses/by-nc-sa/4.0/)