<a href="https://colab.research.google.com/github/bsbrabrand/SmartProducts/blob/main/HW5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bennett Brabrand

In [ ]:
from os.path import basename, exists

def download(url):
    filename = basename(url)
    if not exists(filename):
        from urllib.request import urlretrieve

        local, _ = urlretrieve(url, filename)
        print("Downloaded " + str(local))
    return filename

download('https://github.com/AllenDowney/ThinkPython/raw/v3/thinkpython.py');
download('https://github.com/AllenDowney/ThinkPython/raw/v3/diagram.py');

import thinkpython

class Time:
    """Represents a time of day."""

def make_time(hour, minute, second):
    time = Time()
    time.hour = hour
    time.minute = minute
    time.second = second
    return time
def print_time(time):
    s = f'{time.hour:02d}:{time.minute:02d}:{time.second:02d}'
    print(s)

# 14.12.1

Write a function called `subtract_time` that takes two `Time` objects and returns the interval between them in seconds -- assuming that they are two times during the same day.

Here's an outline of the function to get you started.

In [ ]:
def subtract_time(t1, t2):
    """Compute the difference between two times in seconds.
    This function assumes that t1 is after t2, otherwise the result will be negative.

    >>> subtract_time(make_time(3, 2, 1), make_time(3, 2, 0))
    1
    >>> subtract_time(make_time(3, 2, 1), make_time(3, 0, 0))
    121
    >>> subtract_time(make_time(11, 12, 0), make_time(9, 40, 0))
    5520
    """
    #convert each attribute to seconds and then subtract the difference
    return t1.hour*3600+t1.minute*60+t1.second-t2.hour*3600-t2.minute*60-t2.second

You can use `doctest` to test your function.

In [ ]:
from doctest import run_docstring_examples

def run_doctests(func):
    run_docstring_examples(func, globals(), name=func.__name__)

run_doctests(subtract_time)

## 14.12.1 Explanation
This function converts the hour attribute of each time object to seconds by multiplying by 3600, and each minute attribute by multiplying by 60. Then, all attributes from the first time object are added while the one's from the second are subtracted. This results in the difference in seconds which is then returned.

Insights: Using a class such as time can have many applications. A direct application would be for timing a race using the start time and finish times of participants. Similar classes could also be created for months, dates, and other relevant information.

# 14.12.3

Here's a definition for a `Date` class that represents a date -- that is, a year, month, and day of the month.

In [ ]:
class Date:
    """Represents a year, month, and day"""

1. Write a function called `make_date` that takes `year`, `month`, and `day` as parameters, makes a `Date` object, assigns the parameters to attributes, and returns the result the new object. Create an object that represents June 22, 1933.

2. Write a function called `print_date` that takes a `Date` object, uses an f-string to format the attributes, and prints the result. If you test it with the `Date` you created, the result should be `1933-06-22`.

3. Write a function called `is_after` that takes two `Date` objects as parameters and returns `True` if the first comes after the second. Create a second object that represents September 17, 1933, and check whether it comes after the first object.

Hint: You might find it useful to write a function called `date_to_tuple` that takes a `Date` object and returns a tuple that contains its attributes in year, month, day order.

You can use this function outline to get started.

In [ ]:
def make_date(year, month, day):
  ''' Create a date object with the given values for year, month, and day
  '''
  #initialize date object
  date = Date()
  #assign each attribute
  date.year = year
  date.month = month
  date.day = day
  #return date object
  return date

You can use these examples to test `make_date`.

In [ ]:
birthday1 = make_date(1933, 6, 22)

In [ ]:
birthday2 = make_date(1933, 9, 17)

You can use this function outline to get started.

In [ ]:
def print_date(date):
    print(f"{date.year}-{date.month:02d}-{date.day:02d}")

You can use this example to test `print_date`.

In [ ]:
print_date(birthday1)

1933-06-22

You can use this function outline to get started.

In [ ]:
# Solution goes here
def is_after(date1, date2):
  '''Return true if the first date is after the second, False if the first date
  is before the second, and None if they are the same date.
  '''
  #Compare years
  if date1.year > date2.year:
    return True
  elif date1.year < date2.year:
    return False
  else:
    #If the same year, compare the months
    if date1.month > date2.month:
      return True
    elif date1.month < date2.month:
      return False
    else:
      #If the same month, compare the days
      if date1.day > date2.day:
        return True
      elif date1.day < date2.day:
        return False
      else:
        #Dates are the same, return None
        return None

You can use these examples to test `is_after`.

In [ ]:
is_after(birthday1, birthday2)  # should be False

False

In [ ]:
is_after(birthday2, birthday1)  # should be True

True

## 14.12.3 Explanation

# 15.10.2

In the previous chapter, a series of exercises asked you to write a `Date` class and several functions that work with `Date` objects.
Now let's practice rewriting those functions as methods.

1. Write a definition for a `Date` class that represents a date -- that is, a year, month, and day of the month.

2. Write an `__init__` method that takes `year`, `month`, and `day` as parameters and assigns the parameters to attributes. Create an object that represents June 22, 1933.

2. Write `__str__` method that uses an f-string to format the attributes and returns the result. If you test it with the `Date` you created, the result should be `1933-06-22`.

3. Write a method called `is_after` that takes two `Date` objects and returns `True` if the first comes after the second. Create a second object that represents September 17, 1933, and check whether it comes after the first object.

Hint: You might find it useful write a method called `to_tuple` that returns a tuple that contains the attributes of a `Date` object in year-month-day order.

In [11]:
# Solution goes here
class Date():
  def __init__(self, year, month, day):
    self.year = year
    self.month = month
    self.day = day
  def __str__(self):
    return f"{self.year}-{self.month:02d}-{self.day:02d}"
  def is_after(self, other):
    '''Return true if the first date is after the second, False if the first date
    is before the second, and None if they are the same date.
    '''
    #Convert to days and calculate difference
    diff = (self.year*375+self.month*31+self.day) - (other.year*375+other.month*31+other.day)
    #If the first quantity is bigger, diff is possitive, and the first date is after the second
    if diff>0:
      return True
    #If the second quantity is bigger, diff is negative, and the second date is after the first
    elif diff<0:
      return False
    #If the quantities are the same, diff is 0, and the dates are the same
    else:
      return None

You can use these examples to test your solution.

In [12]:
birthday1 = Date(1933, 6, 22)
print(birthday1)

1933-06-22

In [13]:
birthday2 = Date(1933, 9, 17)
print(birthday2)

1933-09-17

In [14]:
birthday1.is_after(birthday2)  # should be False

False

In [15]:
birthday2.is_after(birthday1)  # should be True

True